@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background: #fff;
  color: #333333;
}

img {
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.inner {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

.section {
  padding: 100px 0 120px;
}
@media (max-width: 767px) {
  .section {
    padding-top: 50px;
    padding-bottom: 60px;
  }
}

.section-title {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 28px;
  position: relative;
}
.section-title::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 60px;
  height: 4px;
  background: #3F51B5;
}
@media (max-width: 767px) {
  .section-title::after {
    width: 42px;
    height: 3px;
  }
}
@media (max-width: 767px) {
  .section-title {
    font-size: 26px;
    padding-bottom: 18px;
  }
}

.header {
  background: #3F51B5;
  height: 100px;
}

a {
  color: inherit;
}

.header__inner {
  width: 1200px;
  display: flex;
  align-items: center;
  height: inherit;
}

.header__logo {
  width: 205px;
}
.header__logo img {
  display: block;
}

.header__nav {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.header__nav li:not(:first-child) {
  margin-left: 40px;
}
.header__nav li a {
  color: #fff;
  text-decoration: none;
  position: relative;
}
.header__nav li a.is-active::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #E81919;
}

/*main*/
.main-visual {
  height: 600px;
  width: 100%;
  background: url(../img/mainvisual.png) no-repeat center center/cover;
  position: relative;
}

.main-visual__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.main-visual__title {
  font-size: 64px;
  font-weight: 700;
}

.main-visual__lead {
  font-size: 24px;
  font-weight: 700;
  margin-top: 24px;
}

.main-visual__button {
  margin-top: 36px;
}
.main-visual__button a {
  display: inline-block;
  width: 390px;
  height: 83px;
  line-height: 83px;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  color: #fff;
  background: #3F51B5;
  border-radius: 12px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.card {
  background: #EFEFEF;
}

.card__items {
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 767px) {
  .card__items {
    margin-top: 42px;
  }
}

.card__item {
  width: calc(33.3% - 16px);
  background: #fff;
  padding: 16px;
  border-radius: 4px;
}
@media (min-width: 1200px) {
  .card__item:not(:nth-child(3n+1)) {
    margin-left: 24px;
  }
  .card__item:nth-child(n+4) {
    margin-top: 24px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .card__item {
    width: calc(50% - 12px);
  }
  .card__item:not(:nth-child(2n+1)) {
    margin-left: 24px;
  }
  .card__item:nth-child(n+3) {
    margin-top: 24px;
  }
}
@media (max-width: 767px) {
  .card__item {
    width: 100%;
    margin-left: 0;
  }
  .card__item:nth-child(n+2) {
    margin-top: 24px;
  }
}

.card__img img {
  width: 100%;
}

.card__title {
  font-size: 20px;
  font-weight: 700;
  color: #6F7579;
  margin-top: 14px;
}

.card__text {
  color: #333333;
  font-weight: 700;
  line-height: 1.5;
  margin-top: 14px;
}

/*news*/
.news__items {
  margin: 80px auto 0;
  width: 800px;
  max-width: 100%;
}
@media (max-width: 767px) {
  .news__items {
    margin-top: 40px;
  }
}

.news__item {
  display: flex;
  padding: 20px 0 12px;
}
.news__item:not(:first-child) {
  border-top: 1px solid #707070;
}
@media (max-width: 767px) {
  .news__item {
    display: block;
  }
}

.news__meta {
  display: flex;
  width: 185px;
}

.news__date {
  width: 105px;
  padding-top: 3px;
}

.news__label a {
  display: inline-block;
  width: 80px;
  height: 32px;
  line-height: 32px;
  color: #fff;
  text-align: center;
  background: #666;
  border-radius: 4px;
  font-weight: 700;
  text-decoration: none;
}
.news__label a.is-blue {
  background: #3f51b5;
}
.news__label a.is-red {
  background: red;
}

.news__title {
  width: calc(100% - 185px);
  padding-left: 20px;
  padding-top: 3px;
}
.news__title a {
  text-decoration: none;
  line-height: 1.25;
}
@media (max-width: 767px) {
  .news__title {
    width: 100%;
    padding-left: 0;
    padding-top: 0;
    margin-top: 6px;
  }
}

.news__more {
  margin-top: 60px;
  text-align: center;
  padding-top: 30px;
}
.news__more a {
  text-decoration: none;
  color: #E81919;
  font-weight: 700;
  padding-right: 14px;
  position: relative;
}
.news__more a::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 7px;
  height: 11px;
  background: url(../img/news-arrow.svg) no-repeat center center/contain;
}


/*フォーム*/
.contact .contact__inner .contact__head .contact__form {
  margin: 80px auto 0;
  width: 800px;
  max-width: 100%;
  background: #fff;
  padding: 60px;
}

.contact-form .contact-form__dl .contact__form__row {
  display: flex;
}
.contact-form .contact-form__dl .contact__form__row:not(:first-child) {
  margin-top: 60px;
}

.contact-form__label {
  width: 160px;
  padding-top: 5px;
}
.contact-form__label label {
  font-weight: bold;
}
.contact-form__label label.is-required {
  display: inline-block;
  position: relative;
}
.contact-form__label label.is-required::after {
  content: "必須";
  position: absolute;
  top: calc(100% + 2px);
  left: 0;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  background: #E81919;
  text-align: center;
  border-radius: 4px;
  padding: 2px 8px;
  line-height: 1;
}

.contact-form__input {
  width: calc(100% - 60px);
}
.contact-form__input [type=text] {
  box-shadow: none;
  border: 1px solid #707070;
  background: fff;
  padding: 10px 16px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 14px;
  width: 100%;
}
.contact-form__input [type=email] {
  box-shadow: none;
  border: 1px solid #707070;
  background: fff;
  padding: 10px 16px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 14px;
  width: 100%;
}
.contact-form__input select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  box-shadow: none;
  border: 1px solid #707070;
  padding: 10px 16px;
  color: inherit;
  font-family: inherit;
  font-size: 14px;
  width: 100%;
  background: #fff url(../img/select-arrow.png) no-repeat right 12px center/17px 14px;
}
.contact-form__input textarea {
  height: 240px;
  box-shadow: none;
  border: 1px solid #707070;
  background: fff;
  padding: 10px 16px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 14px;
  width: 100%;
  resize: none;
}

.contact__form__row .contact-form__label .contact-form__input .contact__form__row .contact-form__label .contact-form__input .contact__form__row .contact-form__label .contact-form__input .contact-form__radio {
  margin-top: 32px;
}
.contact__form__row .contact-form__label .contact-form__input .contact__form__row .contact-form__label .contact-form__input .contact__form__row .contact-form__label .contact-form__input .contact-form__radio [type=radio] {
  display: none;
}
.contact__form__row .contact-form__label .contact-form__input .contact__form__row .contact-form__label .contact-form__input .contact__form__row .contact-form__label .contact-form__input .contact-form__radio span {
  display: inline-block;
  padding-left: 26px;
  position: relative;
  margin-right: 36px;
}
.contact__form__row .contact-form__label .contact-form__input .contact__form__row .contact-form__label .contact-form__input .contact__form__row .contact-form__label .contact-form__input .contact-form__radio span::before {
  content: "";
  width: 20px;
  height: 20px;
  border: 1px solid #707070;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background: #fff;
  border-radius: 50%;
}
.contact__form__row .contact-form__label .contact-form__input .contact__form__row .contact-form__label .contact-form__input .contact__form__row .contact-form__label .contact-form__input .contact-form__radio span::after {
  content: "";
  width: 10px;
  height: 10px;
  background: #3F51B5;
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
}
.contact__form__row .contact-form__label .contact-form__input .contact__form__row .contact-form__label .contact-form__input .contact__form__row .contact-form__label .contact-form__input .contact-form__radio [type=radio]:checked + span::after {
  display: block;
}

.contact-form__check {
  margin-top: 63px;
  text-align: center;
}
.contact-form__check [type=checkbox] {
  display: none;
}

.contact-form__button {
  margin-top: 30px;
  text-align: center;

/*price*/
.price {
  background-color: #efefef;
}

.price__content {
  display: flex;
  margin-top: 80px;
}
@media (max-width: 767px) {
  .price__content {
    display: block;
    margin-top: 40px;
  }
}

.price__image {
  width: 37.8333333333%;
}
@media (max-width: 767px) {
  .price__image {
    width: 100%;
  }
}

.price__table {
  width: 59%;
  margin-left: auto;
}
@media (max-width: 767px) {
  .price__table {
    width: 100%;
    margin-top: 20px;
  }
}

.price__attention {
  font-size: 14px;
  margin-top: 10px;
}
.price__attention a {
  font-weight: bold;
}

.table {
  border-collapse: collapse;
  border: 1px solid #707070;
  background: #fff;
  font-weight: bold;
  width: 100%;
  table-layout: fixed;
}
.table th,
.table td {
  border: 1px solid #707070;
  padding: 0 24px;
  height: 58px;
  vertical-align: middle;
}
.table th {
  background: #999;
  color: #fff;
  text-align: center;
}
.table th:nth-child(1) {
  width: 172px;
}
@media (max-width: 767px) {
  .table th {
    width: 112px;
  }
}
.table td {
  text-align: right;
}
.table strong {
  color: #E81919;
  line-height: 1.2;
}
.table span {
  font-size: 13px;
  display: block;
  margin-top: 1px;
}

/**/
.access__map {
  margin: 80px auto 0;
  width: 800px;
  max-width: 100%;
}
@media (max-width: 767px) {
  .access__map {
    margin-top: 40px;
  }
}

.iframe-wrap {
  width: 100%;
  padding-top: 50%;
  position: relative;
}
.iframe-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.access__info {
  margin: 16px auto 0;
  width: 800px;
  max-width: 100%;
}

.access__info-row {
  display: flex;
  align-items: center;
}
.access__info-row:not(:first-child) {
  margin-top: 8px;
}
.access__info-row dt {
  margin: 0;
  padding: 0;
  font-weight: 700;
  width: 104px;
}
.access__info-row dd {
  margin: 0;
  padding: 0;
  width: calc(100% - 104px);
}

.access__button {
  text-align: center;
  margin-top: 30px;
}
.access__button a {
  text-decoration: none;
  display: inline-block;
  width: 304px;
  text-align: center;
  color: #fff;
  font-weight: 700;
  padding: 16px 12px;
  border-radius: 8px;
  background-color: #3F51B5;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  position: relative;
}
.access__button a::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  width: 17px;
  height: 16px;
  background: url(../img/button-arrow.svg) no-repeat center center/contain;

}